.red-block {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  background-color: transparent;
  z-index: 100;
}
