.text-container {
  font-size: 8rem;
}

.hover-text {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;

  transform: scale(1.6);
  background-color: red;
}
