.appear-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-element {
  color: white;
  font-size: 32px;
  scale: 1;
}

.text-element2 {
  color: white;
  font-size: 32px;
  scale: 1;
  opacity: 0;
}

.text-element3 {
  color: white;
  font-size: 32px;
  scale: 1;
}

.fade-in-animation {
  animation: appear3 1s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1.5;
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appear3 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.appear-tex-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-element-bottom {
  color: white;
  font-size: 32px;

  scale: 1;
}
