body {
  margin: 0;
  
}

.container {
  position: relative;
  width: 100%;
  height: 5500px;

  
}

.image-container {
  width: 100%;
  position: sticky;
  height: 0;
  padding-top: 50%;
  top: 0;
  background-size: cover;
  background-image: url('../images/frame_0_delay-0.1s.gif');
  object-fit: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
