* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(26, 26, 26);
  scroll-behavior: smooth;
  font-family: "Julius Sans One", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 450vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 50vh;
  z-index: 2;
  background-color: transparent;
}

#container-paragraph {
  background-color: transparent;
  font-size: 1.6em;
  padding: 0.75em;
  margin: 1.2em;
  animation: fadeIn 2s ease-in-out;
}

.container-h1 h1 {
  background-color: transparent;
  font-size: 9em;
  border-right: 6px solid white;
  padding: 0.4;
}

a:link {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

.name {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-size: 2px;
  bottom: 0;
  right: 0;
  margin: 10em;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.2s;
  width: 100vw;
  position: sticky;
  height: 100vh;

  top: 0;
  background-size: cover;
  background-image: url("../images/frame_0_delay-0.1s.gif");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.space {
  height: 200vh;
}

.tomato {
  height: 50vh;
  background-color: tomato;
}

.dark-grey {
  height: 50vh;
  background-color: darkgray;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container h1 {
  background-color: transparent;
  font-size: 5em;
  border-right: 6px solid white;
  padding: 0.4;
}

.photo-container__photo {
  text-align: center;
  width: 20vw;
  height: 60vh;
  background-color: rgb(223, 179, 67);
  border-radius: 1.75em;
  opacity: 1;
  z-index: 2;
}

.photo-container__photo h1,
p {
  background-color: rgb(223, 179, 67);
  padding: 0.25em;
}

.photo-container__small {
  text-align: center;
  width: 10vw;
  height: 25vh;
  opacity: 0.4;
  background-color: rgb(223, 179, 67);
  border-radius: 1.75em;
}

.photo-container__small--left {
  transform: translateX(60px);
}

.photo-container__small--right {
  transform: translateX(-60px);
}

.photo-container__photo-effectRight {
  animation: rightAnimationMain 0.8s ease-in-out;
}

.photo-container__small--right-effectRight {
  animation: rightAnimationRight 0.8s ease-in-out;
}

.photo-container__small--left-effectRight {
  animation: rightAnimationLeft 0.8s ease-in-out;
}

.photo-container__photo-effectLeft {
  animation: leftAnimationMain 0.8s ease-in-out;
}

.photo-container__small--right-effectLeft {
  animation: leftAnimationRight 0.8s ease-in-out;
}

.photo-container__small--left-effectLeft {
  animation: leftAnimationLeft 0.8s ease-in-out;
}

.photo-conariner__arrow {
  position: relative;
  color: rgb(223, 179, 67);
}

.photo-container__image {
  margin-top: 1.25em;
  width: 60%; /* it depends on size of the image */
}

.photo-container img {
  border-radius: 1.75em;
}

@media (max-width: 1200px) {
  .photo-container__photo {
    width: 30vw;
    height: 60vh;
  }

  .photo-container__small {
    width: 15vw;
    height: 25vh;
  }
}

@media (max-width: 850px) {
  .text-container {
    flex-wrap: wrap;
    width: 80vw;
  }

  .text-container p {
    background-color: transparent;
    font-size: 1.6em;
    padding: 0;
    margin: 0.2em;
  }

  .text-container h1 {
    background-color: transparent;
    font-size: 5em;
    border-right: 6px solid white;
    padding: 0.4;
  }

  .photo-container__photo {
    width: 40vw;
    height: 60vh;
  }

  .photo-container__small {
    width: 20vw;
    height: 25vh;
  }
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
  padding-top: 90px;
  border-radius: 8px;
}

.text-wrapper {
  width: 80%;
  text-align: center;
  padding: 16px;
  border-radius: 0.25rem;
  border: 1px solid rgb(223, 179, 67);
  transition: transform 0.5s ease-out;
}

.component:hover .text-wrapper {
  transform: rotateY(10deg);
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  font-size: 24px;
  color: #586069;
  line-height: 1.5;
  margin-bottom: 30px;
}

.button-wrapper {
  display: flex;
  border-radius: 0.25rem;
  justify-content: center;
}

.button {
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #218838;
}

@media (max-width: 500px) {
  .photo-container__photo {
    /* i'm not sure if this is good aproach */
    width: 40vw;
    height: 60vh;
  }

  .photo-container__small {
    width: 20vw;
    height: 25vh;
  }
}

@media (max-width: 400px) {
  .photo-container__photo {
    /* i'm not sure if this is good aproach */
    width: 100vw;
    height: 60vh;
  }

  .photo-container__small {
    width: 40vw;
    height: 25vh;
  }
}

/* right card: 60px*/
@keyframes rightAnimationRight {
  0% {
    transform: translateX(-180px) scale(0.4);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(-60px) scale(1);
  }
}

/* left card: 120px*/
@keyframes rightAnimationLeft {
  0% {
    transform: translateX(180px) scale(1.4);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(60px) scale(1);
  }
}
/* main card: 180px*/
@keyframes rightAnimationMain {
  0% {
    transform: translateX(120px) scale(0.4);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

/* right card: 60px*/
@keyframes leftAnimationRight {
  0% {
    transform: translateX(-180px) scale(1.4);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(-60px) scale(1);
  }
}

/* left card: 60px*/
@keyframes leftAnimationLeft {
  0% {
    transform: translateX(180px) scale(0.4);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(60px) scale(1);
  }
}
/* main card: 180px*/
@keyframes leftAnimationMain {
  0% {
    transform: translateX(-120px) scale(0.4);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
